POSTGRES_DB=orders
POSTGRES_USER=orders
POSTGRES_PASSWORD=orders
KAFKA_BROKER=kafka:9092
API_PORT=8080
API_DB_HOST=postgres
API_DB_PORT=5432
API_DB_NAME=${POSTGRES_DB}
API_DB_USER=${POSTGRES_USER}
API_DB_PASS=${POSTGRES_PASSWORD}
API_KAFKA_BROKER=${KAFKA_BROKER}
WEB_PORT=5173
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
